@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url(./root.css);

* {
    padding: 0;
    scroll-behavior: smooth;
    margin: 0;
    list-style: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
    src: local('Helvetica'), url('Helvetica.woff') format('woff');

}

/* ------------------padding------------------------- */
.p-18 {
    padding: 18px;
}

.py-130 {
    padding: 130px 0;
}

.px-12 {
    padding: 0 12px !important;
}

.px-28 {
    padding: 0 28px;
}

.px-51 {
    padding: 0px 51px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-28 {
    padding-top: 28px;
}

.pt-32 {
    padding-top: 32px;
}

.pt-44 {
    padding-top: 44px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-130 {
    padding-top: 130px;
}

.pt-117 {
    padding-top: 117px;
}

.pb-32 {
    padding-bottom: 32px !important;
}

.pb-38 {
    padding-bottom: 38px;
}

.pb-44 {
    padding-bottom: 44px;
}

.pb-48 {
    padding-bottom: 48px !important;
}

.pb-64 {
    padding-bottom: 64px;
}

.pb-66 {
    padding-bottom: 66px;
}

.pb-90 {
    padding-bottom: 90px;
}

/* ------------------padding-bottom------------------- */
/* ---------------------width----------------------- */
.max-w-236 {
    max-width: 236px;
}

.max-w-255 {
    max-width: 255px;
}

.max-w-355 {
    max-width: 355px;
}

.max-w-370 {
    max-width: 370px !important;
}

.max-w-390 {
    max-width: 390px !important;
}

.max-w-399 {
    max-width: 399px !important;
}

.max-w-405 {
    max-width: 405px;
}

.max-w-436 {
    max-width: 436px;
}

.max-w-524 {
    max-width: 524px;
}

.max-w-534 {
    max-width: 534px;
}

.max-w-662 {
    max-width: 662px;
}

.max-w-709 {
    max-width: 709px;
}

.max-w-730 {
    max-width: 730px;
}

.max-w-826 {
    max-width: 826px !important;
}

.max-w-948 {
    max-width: 948px;
}

.max-w-1000 {
    max-width: 1000px !important;
}

.max-w-1140 {
    max-width: 1140px !important;
}

.min-w-364 {
    min-width: 364px;
}

.w-40 {
    width: 40px;
}

/* ---------------------width----------------------- */
/* ---------------------font-family---------------- */
.font-Eb-Garamond {
    font-family: "EB Garamond", serif;
}

.font-Helvetica {
    font-family: 'Helvetica';
}

/* ---------------------font-family---------------- */
/* ---------------margin----------------- */
.mt-22 {
    margin-top: 22px;
}

.mt-26 {
    margin-top: 26px;
}

.mt-48 {
    margin-top: 48px;
}

.mb-20 {
    margin-bottom: 20px;
}

/* ---------------margin----------------- */
/* ------------------border-radius */
.rounded-6 {
    border-radius: 6px !important;
}

.rounded-16 {
    border-radius: 16px;
}

.rounded-24 {
    border-radius: 24px;
}

/* ------------------border-radius */
/* ------------------background-image */
.bg-frame-9 {
    background-image: url(../img/Frame9.png);
    background-position: 100% 100%;
    background-size: cover;
}

.bg-topic9 {
    background-image: url(../img/Topic9.png);
    background-position: 100% 100%;
    background-size: cover;
}

.bg-third-img {
    background-image: url(../img/Frame12.png);
    background-position: 100% 100%;
    background-size: cover;
}

.bg-Services5 {
    background-image: url(../img/Services5.png);
    background-position: 100% 100%;
    background-size: cover;
}

.bg-frame7 {
    background-image: url(../img/Frame7.png);
    background-position: 100% 100%;
    background-size: cover;
}

.bg-hero-img {
    background-image: url(../img/Hero.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.footer-img {
    background-image: url(../img/Footer.png);
    background-position: 100% 100%;
    background-size: cover;
}

.bg-topic-img {
    background-image: url(../img/Topic.png);
    background-position: 100% 100%;
    background-size: cover;
}

.bg-fre-img {
    background-image: url(../img/FAQ.png);
    background-position: 100% 100%;
    background-size: cover;
}

/* ------------------background-image */
/* ------------------Ellipse */
.Ellipse11 {
    right: 0;
    top: 3%;
}

.Ellipse12 {
    bottom: 0;
    left: 10%;
}

.Ellipse21 {
    left: 0;
}

.Ellipse22 {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.Ellipse4first {
    left: 0;
    top: 0;
}

.Ellipse4sec {
    bottom: 0;
    right: 0;
}

.Ellipse41 {
    left: 0;
    top: 0;
}

.Ellipse7first {
    left: 0;
    top: 0;
}

.ellipse71 {
    left: 0;
    top: -30%;
}

.ellipse72 {
    bottom: -20%;
    right: 0;
}

.Ellipse91 {
    top: 0;
    left: 0;
}

.Ellipse92 {
    bottom: 0;
    right: 0;
}

.Ellipse101 {
    top: -50%;
    right: 0;
}

.Ellipse102 {
    left: 0;
    bottom: -55%;
}

.Ellipsefirst {
    top: 0;
    left: 0;
}

/* ------------------Ellipse */
/* -------------group----------- */
.Group {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.group2 {
    bottom: 0;
    right: 0;
}

.Group10 {
    left: 0;
    top: 0;
}

.group11 {
    right: 0;
    top: -22%;
}

.group61 {
    bottom: 0;
    right: 0;
}

.groupslick {
    right: 0;
    top: 18%;
}

/* -------------group----------- */
/* -------------gap */
.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.gap-36 {
    gap: 36px;
}

/* -------------gap */
/* --------------preloader */
.container-preloader {
    align-items: center;
    cursor: none;
    display: flex;
    height: 100%;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 900;
}

.container-preloader .animation-preloader {
    position: absolute;
    z-index: 100;
}

.container-preloader .animation-preloader .spinner {
    animation: spinner 1s infinite linear;
    border-radius: 50%;
    border: 10px solid #D5AE62;
    border-top-color: white;
    height: 9em;
    margin: 0 auto 3.5em auto;
    width: 9em;
}

.container-preloader .animation-preloader .txt-loading {
    font: bold 5em 'Montserrat', sans-serif;
    text-align: center;
    user-select: none;
}

.container-preloader .animation-preloader .txt-loading .characters:before {
    animation: characters 4s infinite;
    color: white;
    content: attr(preloader-text);
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: rotateY(-90deg);
}

.container-preloader .animation-preloader .txt-loading .characters {
    color: #D5AE62;
    position: relative;
}

.container-preloader .animation-preloader .txt-loading .characters:nth-child(2):before {
    animation-delay: 0.2s;
}

.container-preloader .animation-preloader .txt-loading .characters:nth-child(3):before {
    animation-delay: 0.4s;
}

.container-preloader .animation-preloader .txt-loading .characters:nth-child(4):before {
    animation-delay: 0.6s;
}

.container-preloader .animation-preloader .txt-loading .characters:nth-child(5):before {
    animation-delay: 0.8s;
}

.container-preloader .animation-preloader .txt-loading .characters:nth-child(6):before {
    animation-delay: 1s;
}

.container-preloader .animation-preloader .txt-loading .characters:nth-child(7):before {
    animation-delay: 1.2s;
}

.container-preloader .loader-section {
    background-image: linear-gradient(180deg, #F4EAD8, #EAD8B2, #E0B764);
    height: 100%;
    position: fixed;
    top: 0;
    width: calc(50% + 1px);
}


.container-preloader .loader-section.section-left {
    left: 0;
}

.container-preloader .loader-section.section-right {
    right: 0;
}

.loaded .animation-preloader {
    opacity: 0;
    transition: 0.3s ease-out;
}

.loaded .loader-section.section-left {
    transform: translateX(-101%);
    transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}

.loaded .loader-section.section-right {
    transform: translateX(101%);
    transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}

@keyframes spinner {
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes characters {

    0%,
    75%,
    100% {
        opacity: 0;
        transform: rotateY(-90deg);
    }

    25%,
    50% {
        opacity: 1;
        transform: rotateY(0deg);
    }
}

@media screen and (max-width: 767px) {
    .container-preloader .animation-preloader .spinner {
        height: 8em;
        width: 8em;
    }

    .container-preloader .animation-preloader .txt-loading {
        font: bold 3.5em 'Montserrat', sans-serif;
    }
}

@media screen and (max-width: 500px) {
    .container-preloader .animation-preloader .spinner {
        height: 7em;
        width: 7em;
    }

    .container-preloader .animation-preloader .txt-loading {
        font: bold 2em 'Montserrat', sans-serif;
    }
}

/* --------------preloader */

.tab-2 {
    border-bottom: 1px solid #FFFFFF52;
}

.active {
    transition: all 100ms linear;
    background: transparent;
    background-image: linear-gradient(90deg, var(--gradient-white) 33%, var(--golden) 60%);
    background-position: 100% 0%;
    background-size: 8px 100%;
    background-repeat: no-repeat;
}

.active .tab2-text {
    background: -webkit-linear-gradient(var(--gradient-white), var(--golden));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.active svg path {
    fill: var(--golden);
}

.nav-link:hover {
    color: white;
}

.border-right {
    border-right: 1px solid #FFFFFF52;
}

.first-box {
    box-shadow: 0px 4px 20px 0px #B6B6B640;
    background-color: white !important;
    border: 1px solid transparent;
    background-clip: padding-box;
    padding: 22px 25px 19px 25px;
}

.first-box:hover {
    box-shadow: 0px 8px 40px 0px #55555540;
}

.first-box::after {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background: linear-gradient(#EEDDBF52, #C78A1152);
    content: '';
    z-index: -1;
    border-radius: 16px;
}

.btn-1 {
    border-radius: 2px;
    padding: 12px 24px;
    transition: all 300ms linear;
    border: 1px solid transparent;
    background: transparent;
    background-image: linear-gradient(to right, var(--gradient-white), var(--golden));
    background-position: 0 100%;
    background-size: 100% 1px;
    background-repeat: no-repeat;
}

.btn-1:hover {
    border-radius: 70px;
    background-size: 100% 0px;

    box-shadow: 0px 0px 20px 1px var(--golden);
}

.translate-y-76 {
    transform: translateY(-76px);
}

.card {
    background-clip: padding-box;
    background-color: transparent;
    min-width: 364px !important;
    background: #CA99440A !important;
    transition: all 300ms linear;

}

.responsive {
    border-radius: 24px;
}

.card::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 24px;
    padding: 0.5px !important;
    background: linear-gradient(135deg, var(--gradient-white), var(--golden) 32%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.card:hover.card::before {
    background: linear-gradient(135deg, transparent, transparent);
}

.card:hover {
    background: #CA99443D !important;
}

.second-box {
    box-shadow: 0px 0px 20px 4px #D8D8D840;
    border: 1px solid #EEDDBF52;
}

.second-box:hover {
    box-shadow: 0px 0px 40px 8px #a2a2a240;
}

.second-box:hover svg path {
    fill: var(--golden);
}

.card::after {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background: linear-gradient(#EEDDBF52, #C78A1152);
    content: '';
    z-index: -1;
    border-radius: 24px;
}

.heading {
    background: -webkit-linear-gradient(var(--gradient-white), var(--golden));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input-box {
    border: 1px solid #FFFFFF29;
    border-radius: 4px;
}

.border-top {
    border-top: 0.5px solid #FCF9F64D !important;
}

.tab-box {
    padding: 18px 32px;
    border-radius: 8px;
    transition: all 300ms linear;
    background: transparent;
    background-image: linear-gradient(to bottom, var(--gradient-white), var(--golden));
    background-position: 0 100%;
    background-size: 2px 100%;
    background-repeat: no-repeat;
    position: relative;
}

.tab1active .tab-box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 8px;
    padding: 1px;
    background: linear-gradient(45deg, var(--gradient-white), var(--golden));
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.tab1active .tab-box {
    border: 2zpx solid transparent;
    box-shadow: 0px 0px 20px 4px #D8D8D840;
    background-size: 0px 0px;
}
.icon-1{
     bottom: 5%;
     left: 3.5%;

}
.playbtn{
    bottom: 5%;
    right: 3.5%;
    background-image: linear-gradient( 135deg , var(--gradient-white ) , var(--golden));
}

.outline-0 {
    outline: 0;
}

.social-icon:hover {
    transform: translateY(-7px);
}

.duration-300 {
    transition: all 300ms linear;
}

.cursor-pointer {
    cursor: pointer;
}

.frame8 {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.border-b-2-gray {
    border-bottom: 2px solid #C2C2C2;
}

.underline::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 0;
    display: inline-block;
    bottom: -2px;
    right: 0;
    margin: 0 auto;
    left: 0;
    transition: all 300ms linear;
    background-color: var(--gray);
}

.underline:hover::after {
    width: 100%;
}

.hamburger {
    display: none;
}

.slider-box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 24px;
    padding: 1px;
    background: linear-gradient(180deg, var(--gradient-white), var(--golden));
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.slider-img {
    box-shadow: 0px 0px 14.14px 2.5px #D8D8D840;
    min-width: 300px;
}

.box-3 .minbox-3 {
    transition: all 300ms linear;
}

.box-3:hover .minbox-3 {
    transform: translateY(-14px);
}

.slick-btn {
    width: 40px;
    border: 2px solid var(--golden);
    background-color: transparent;
    height: 40px;
}

.slick-btn:hover {
    background-image: linear-gradient(to bottom left, var(--gradient-white), var(--golden)) !important;
}

.slick-btn:hover svg path {
    fill: white;
}

.pre-btn {
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
}

.next-btn {
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
}

.box {
    height: 300px;
    width: 500px;
    display: block;
    background-color: gray;
    border-radius: 12px;
}

.animation-fadein {
    animation: fadein 2s ease-in alternate infinite;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media(max-width: 992px) {
    .menulist {
        position: fixed;
        right: -100%;
        top: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        width: 100%;
        height: 100vh;
        gap: 32px;
        z-index: 5;
        transition: all 300ms ease-in-out;
    }

    .menulist ul {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .menulist.nav-active {
        right: 0;
    }

    .hamburger {
        display: block;
        z-index: 6;
    }

    .hamburger.nav-active .bar2 {
        opacity: 0;
        transform: translateX(-10px);
    }

    .hamburger.nav-active .bar1 {
        transform: translateY(9px) rotate(45deg);
    }

    .hamburger.nav-active .bar3 {
        transform: translateY(-9px) rotate(-45deg);
    }

    .bar1,
    .bar2,
    .bar3 {
        display: block;
        width: 29px;
        height: 3px;
        margin: 6px auto;
        transition: all 0.3s ease-in-out;
        background: linear-gradient(146.79deg, var(--gradient-white) 0%, var(--golden) 97.77%);
    }
}

/* ---------------------accordion */
.acc-Item {
    height: 60px;
    border: 1px solid transparent;
    background: linear-gradient(white, white) padding-box, linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%) border-box;
    padding: 18px 24px;
}

.acc-Item.acc-active {
    height: unset;
}

.acc-Item.acc-active svg {
    transform: rotate(45deg);
}

/* ---------------------accordion */
/* -----------timeline------------- */
/* ----first-time */
.timeline-item {
    position: relative;
    padding: 0 0 47px 53px;
    margin-left: 25px;
}

.left-line {
    top: 0;
    left: 0;
    border: 1px solid transparent;
    background: linear-gradient(white, white) padding-box, linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%) border-box;
    height: 100%;
}

.border_reduce .left-line {
    height: 0 !important;
}

.timeline-step {
    margin-bottom: 12px;
}

.border-bottom-gray {
    border-bottom: 1px solid #D7C8AE52;
}

.timeline-item .timeline-icon {
    position: absolute;
    left: -20px;
}

.timeline-line {
    position: absolute;
    left: 0;
}

@media(min-width:992px) {
    .timeline-item {
        margin-left: 120px;
    }

    .timeline-item .timeline-step {
        position: absolute;
        left: -12%;
        text-align: right
    }

    .timeline-step {
        margin-bottom: 0;
    }

    .timeline-item .timeline-content {
        padding: 0;
        background-color: transparent
    }
}

/* ----------first-time */
.timeline-item2 {
    position: relative;
    padding: 0 0 47px 53px;
    margin-left: 25px;
}

.left-line2 {
    top: 0;
    left: 0;
    border: 1px solid transparent;
    background: linear-gradient(white, white) padding-box, linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%) border-box;
    height: 100%;
}

.border_reduce .left-line {
    height: 0 !important;
}

.timeline-week {
    margin-bottom: 12px;
    max-width: 136px;

}

.border-bottom-gray {
    border-bottom: 1px solid #D7C8AE52;
}

.timeline-item2 .timeline-icon2 {
    position: absolute;
    left: -20px;
}

.timeline-line2 {
    position: absolute;
    left: 0;
}

/* -----------timeline------------- */
@media(min-width:992px) {
    .timeline-item2 {
        margin-left: 204px;
    }

    .timeline-item2 .timeline-week {
        position: absolute;
        left: -19%;
        text-align: right
    }

    .timeline-week {
        margin-bottom: 0;
    }

    .timeline-item2 .timeline-content2 {
        padding: 0;
        background-color: transparent
    }
}

@media (max-width: 575px) {
    .tab-box {
        padding: 9px 16px !important;
    }

    .pb-120 {
        padding-bottom: 120px !important;
    }
}

@media (min-width: 575px) {
    .pt-sm-60 {
        padding-top: 60px !important;
    }

    .pb-sm-60 {
        padding-bottom: 60px !important;
    }

    .py-sm-60 {
        padding: 60px 0 !important;
    }

    .pb-sm-44 {
        padding-bottom: 44px !important;
    }

    .pb-sm-32 {
        padding-bottom: 32px !important;
    }

    .py-sm-30 {
        padding: 30px 0 !important;
    }

    .py-sm-20 {
        padding: 20px 0 !important;
    }
}

@media (min-width: 768px) {
    .first-box {
        padding: 44px 51px 38px 51px !important;
    }

    .max-md-w-520 {
        max-width: 520px !important;
    }

    .pb-md-69 {
        padding-bottom: 69px !important;
    }

    .pb-md-32 {
        padding-bottom: 32px !important;
    }

    .max-w-md-338 {
        max-width: 338px !important;
    }

    .max-md-w-575 {
        max-width: 575px !important;
    }

    .pb-md-48 {
        padding-bottom: 48px !important;
    }

    .max-md-w-551 {
        max-width: 551px !important;
    }

    .p-md-40 {
        padding: 40px !important;
    }

    .pt-md-139 {
        padding-top: 139px !important;
    }

    .max-md-w-337 {
        max-width: 337px !important;
    }
}



@media (min-width: 992px) {
    .gap-lg-57 {
        gap: 57px !important;
    }

    .pt-lg-44 {
        padding-top: 44px !important;
    }

    .max-lg-w-485 {
        max-width: 485px !important;
    }

    .pt-lg-84 {
        padding-top: 84px !important;
    }

    .pt-lg-150 {
        padding-top: 150px !important;
    }

    .pb-lg-84 {
        padding-bottom: 84px !important;
    }

    .pb-lg-64 {
        padding-bottom: 64px !important;
    }

    .pt-lg-125 {
        padding-top: 125px !important;
    }

    .pb-lg-65 {
        padding-bottom: 65px !important;
    }

    .pb-lg-156 {
        padding-bottom: 156px !important;
    }

    .py-lg-130 {
        padding: 130px 0 !important;
    }

    .pt-lg-130 {
        padding-top: 130px !important;
    }

    .pb-lg-130 {
        padding-bottom: 130px !important;
    }

    .pt-lg-64 {
        padding-top: 64px !important;
    }

    .pt-lg-120 {
        padding-top: 120px !important;
    }

    .pb-lg-120 {
        padding-bottom: 120px !important;
    }

    .pt-lg-100 {
        padding-top: 100px !important;
    }

    .pb-lg-100 {
        padding-bottom: 100px !important;
    }

    .pt-lg-91 {
        padding-top: 91px !important;
    }

    .pb-lg-90 {
        padding-bottom: 90px !important;
    }
}
@media (max-width: 1200px) {
    .box-4 {
        overflow-x: scroll;
    }
    .box-5 {
        overflow-x: scroll;
    }
}

@media (min-width:1200px) {
    .gap-xl-141 {
        gap: 141px;
    }
}